.root{
    -fx-background-image: url("resources/Board.jpeg");
    -fx-background-size: cover;
}
.passBtn{
    -fx-background-image: url("resources/arrowForAction.png");
    -fx-background-size: 50, 50;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.help{
    -fx-background-image: url("resources/help-icon.png");
    -fx-background-size: cover;
    -fx-background-size: 50, 50;
}

.icon{
    -fx-background-image: url("resources/witch.png");
    -fx-background-size: cover;
}

.cardsBtn1{
    -fx-background-image: url("resources/card1.jpg");
    -fx-background-size: cover;
}

.cardsBtn2{
    -fx-background-image: url("resources/card2.jpg");
    -fx-background-size: cover;
}

.number{
    -fx-text-alignment: center;
}

.alaska{
    -fx-shape: "M124.790022,192.854307l0-3.21l12.86,3.21l1.61-9.64l20.89-6.43l-4.82-17.68l6.43-1.61l4.82,9.64l1.61-4.82l11.25-3.21l22.5,8.04l-1.61-8.04l6.43-1.61l19.29-1.61l-11.25-11.25l1.61-16.07l-4.82-11.25l1.61-4.82l6.43-6.43l-6.43-9.64l-20.89-9.64l-14.46,0l-14.46-6.43l-14.46-4.82l-20.89,11.25l0,4.82l-11.25,9.64l12.86,12.86l-1.61,3.21l-14.46,4.82l4.82,6.43l12.86,4.82l4.82,3.21l-8.04,3.21l-11.25,8.04l3.21,6.43l-4.82,3.21l1.61,6.43l11.25-3.21l4.82,9.64l12.86-3.21l-3.21,4.82l-19.29,19.29";
}

.westernAmerica{
    -fx-shape: "M 300 100 Q 150 50 200 350 Q 250 550 500 300 Q 350 50 300 100";
}

.centralAmerica{
    -fx-shape: "M 350 150 C 400 250 350 500 450 400 C 450 350 450 300 400 200 Q 350 150 350 150 ";
}

.easternUS{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}

.greenland{
    -fx-shape:"M 300 200 C 350 250 350 500 350 400 C 400 275 550 200 400 150 Q 300 200 300 200 ";
}

.northWest{
    -fx-shape: "M 300 100 Q 150 50 200 350 Q 250 550 500 300 Q 350 50 300 100";
}

.centralCanada{
    -fx-shape: "M 300 100 Q 150 50 200 350 Q 250 550 500 300 Q 350 50 300 100";
}

.easternCanada{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.westernUS{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}

.argentina{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.brazil{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.peru{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.venezuela{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.colombia{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.bolivia{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.uk{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.iceland{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.germany{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.skandinavia{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.southernEU{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.russia{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.france{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.spain{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.spain{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.italia{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.afghanistan{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.china{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.india{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.irkutsk{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.japan{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.kamchatka{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.middleEast{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.mongolia{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.sian{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.siberia{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.ural{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.yakutsk{
    -fx-shape: "M 450 350 A 50 50 0 1 1 250 400 A 50 50 0 1 1 450 350 ";
}
.congo{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.eastAfrica{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.egypt{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.madagaskar{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.northAfrica{
    -fx-shape: "M 450 350 A 50 50 0 1 1 250 400 A 50 50 0 1 1 450 350 ";
}
.southAfrica{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.easternAustralia{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.indonesia{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.newGuinea{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.westernAustralia{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}

