.root{
    -fx-background-image: url("resources/Board.jpeg");
    -fx-background-size: cover;
}

.alaska{
    -fx-shape: "M 300 100 Q 150 50 200 350 Q 250 550 500 300 Q 350 50 300 100";
}

.westernAmerica{
    -fx-shape: "M 300 100 Q 150 50 200 350 Q 250 550 500 300 Q 350 50 300 100";
}

.centralAmerica{
    -fx-shape: "M 350 150 C 400 250 350 500 450 400 C 450 350 450 300 400 200 Q 350 150 350 150 ";
}

.easternUS{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}

.greenland{
    -fx-shape:"M 300 200 C 350 250 350 500 350 400 C 400 275 550 200 400 150 Q 300 200 300 200 ";
}

.northWest{
    -fx-shape: "M 300 100 Q 150 50 200 350 Q 250 550 500 300 Q 350 50 300 100";
}

.centralCanada{
    -fx-shape: "M 300 100 Q 150 50 200 350 Q 250 550 500 300 Q 350 50 300 100";
}

.easternCanada{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.westernUS{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}

.argentina{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.brazil{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.peru{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.venezuela{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.colombia{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.bolivia{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.uk{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.iceland{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.germany{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.skandinavia{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.southernEU{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.russia{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.france{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.spain{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.spain{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.italia{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.afghanistan{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.china{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.india{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.irkutsk{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.japan{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.kamchatka{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.middleEast{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.mongolia{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.sian{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.siberia{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.ural{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.yakutsk{
    -fx-shape: "M 450 350 A 50 50 0 1 1 250 400 A 50 50 0 1 1 450 350 ";
}
.congo{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.eastAfrica{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.egypt{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.madagaskar{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.northAfrica{
    -fx-shape: "M 450 350 A 50 50 0 1 1 250 400 A 50 50 0 1 1 450 350 ";
}
.southAfrica{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.easternAustralia{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.indonesia{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.newGuinea{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}
.westernAustralia{
    -fx-shape: "M 350 150 C 350 250 350 250 400 350 C 450 350 450 300 400 150 Q 400 150 350 150 ";
}




